<div class="dashboard">
    <aside class="sidebar">
        <div class="logo">BBC - UBP</div>
        <nav>
            <ul>
                <li [class.active]="activeTab === 'home'" (click)="showHome()">
                    <i class="icon-home"></i> Home
                </li>
                <li [class.active]="activeTab === 'bills'" (click)="activeTab = 'bills'"><i class="icon-user"></i> Manage Bills</li>
                <li [class.active]="activeTab === 'payments'" (click)="activeTab = 'payments'"><i class="icon-user"></i> Manage Payments</li>
                <li [class.active]="activeTab === 'wallet'" (click)="activeTab = 'wallet'"><i class="icon-report"></i>Wallet</li>
                <li [class.active]="activeTab === 'help'" (click)="activeTab = 'help'"><i class="icon-invoice"></i> Help Center</li>
                <li (click)="logout()"><i class="icon-out"></i> Log out</li>
            </ul>
        </nav>
    </aside>
  
    <main class="content">
        <header class="topbar">       
            <a href="#" class="pro-version" style="color:#001f73;">BBC UBP Official Home page</a>
            <div class="profile-icon"></div>
        </header><br>
  
        <section id="home-section" *ngIf="activeTab === 'home'">
            <!-- Units Consumption -->
            <div class="card traffic">
                <h2>Units Consumption</h2>
                <i class="bi bi-activity icon"></i>
                <strong>{{ unitsConsumed }}</strong>
            </div>
            
            <!-- Pending Bills -->
            <div class="card default-card">
                <h2>Pending Bills</h2>
                <i class="bi bi-receipt icon"></i>
                <strong>{{ notPaidBillCount }}</strong>
            </div>
            
            <!-- Amount Debited -->
            <div class="card default-card">
                <h2>Amount to pay</h2>
                <i class="bi bi-cash-coin icon"></i>
                <strong>{{ notPaidAmount }}</strong>
            </div>
        
            <!-- Download Report -->
            <div class="card report-card">
                <p>Download your History</p>
                <button class="report-btn" (click)="downloadReport()">Download Report</button>
            </div>
        </section>
        
        <div *ngIf="activeTab === 'bills'">
            <div class="filters mb-3 d-flex justify-content-between">
                <div>
                    <label for="statusFilter"><strong>Filter by Status:</strong></label>
                    <select id="statusFilter" class="form-select" [(ngModel)]="statusFilter" (change)="applyFilters()">
                        <option value="ALL">View All</option>
                        <option value="PAID">Paid</option>
                        <option value="Not Paid">Not Paid</option>
                    </select>
                </div>
    
                <div>
                    <label for="dateFilter"><strong>Filter by Date:</strong></label>
                    <select id="dateFilter" class="form-select" [(ngModel)]="dateFilter" (change)="applyFilters()">
                        <option value="ALL">View All</option>
                        <option value="3M">Last 3 Months</option>
                        <option value="6M">Last 6 Months</option>
                    </select>
                </div>
            </div>
            <div class="container mt-4">
                <div *ngIf="pendingBills.length === 0" class="text-center">
                    <h4 class="text-muted">No Bills to Pay</h4>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let bill of filteredBills">
                        <div class="card bill-card shadow-lg">
                            <div class="card-header text-white text-center">
                                <h5 class="mb-0">Invoice - {{ bill.id }}</h5>
                            </div>
                            <div class="card-body">
                                <ul class="list-unstyled">
                                    <li> <strong>Service No:</strong> {{ bill.serviceConnectionNumber }}</li>
                                    <li><strong>Units:</strong> {{ bill.unitsConsumed }} kWh</li>
                                    <li><strong>Amount:</strong> ₹ {{ bill.totalAmount }}</li>
                                    <li><strong>Bill Date:</strong> {{ bill.billGeneratedDate | date }}</li>
                                    <li><strong>Due Date: </strong> {{ bill.dueDate | date }}</li><br>
                                    <li>
                                        <strong>Status: </strong> 
                                        <span class="badge" [ngClass]="bill.isPaid === 'PAID' ? 'badge-success' : 'badge-danger'">
                                            {{ bill.isPaid }}
                                        </span>
                                    </li>                                    
                                </ul>
                            </div>
                            <div class="card-footer d-flex justify-content-between">
                                <button class="btn btn-primary btn-sm pay-btn" 
                                        (click)="openPaymentModal(bill)" 
                                        [disabled]="bill.isPaid === 'PAID'">
                                    <i class="bi bi-credit-card"></i> Pay Now
                                </button>
                                <button class="btn btn-outline-dark btn-sm download-btn" 
                                    (click)="downloadParticularInvoice(bill)">
                                    <i class="bi bi-download"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Payment Modal -->
            <div class="modal" tabindex="-1" role="dialog" id="paymentModal" *ngIf="isPaymentModalVisible">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" style="color:#001f73; margin-left: 220px;">Payment Summary</h5>
                        </div>
                        <div class="modal-body" *ngIf="selectedBill">
                            <div class="modal-layout">
                                <!-- Left: Payment Summary -->
                                <div class="modal-left">
                                    <p><strong style="color:#001f73;">Invoice ID:</strong> {{selectedBill.id}}</p>
                                    <p><strong style="color:#001f73;">Total Amount:</strong> ₹ {{selectedBill.totalAmount}}</p>

                                    <div *ngIf="isBeforeDueDate">
                                        <p><strong style="color:#001f73;">Discount (10%) applied:</strong> -{{discount}}</p>
                                        <p><strong style="color:#001f73;">Fee Type:</strong> Discount</p>
                                    </div>
                                    <div *ngIf="isAfterDueDate">
                                        <p><strong style="color:#001f73;">Late Fee (5%) applied:</strong> + ₹ {{lateFee}}</p>
                                        <p><strong style="color:#001f73;">Fee Type:</strong> Late Fee</p>
                                    </div>

                                    <p><strong style="color:#001f73;">Amount to Pay:</strong> ₹ {{payAmount }}</p>
                                </div>

                                <!-- Right: Payment Form -->
                                <div class="modal-right">
                                    <label for="paymentMethod" style="color:#001f73;">Select Payment Method:</label>
                                    <select id="paymentMethod" [(ngModel)]="selectedPaymentMethod" (change)="onPaymentMethodChange()">
                                        <option value="CREDIT">Credit Card</option>
                                        <option value="DEBIT">Debit Card</option>
                                        <option value="WALLET">Wallet</option>
                                    </select>

                                    <div *ngIf="selectedPaymentMethod === 'CREDIT' || selectedPaymentMethod === 'DEBIT'">
                                        <label for="cardNumber" style="color:#001f73;">Card Number</label>
                                        <input type="text" id="cardNumber" [(ngModel)]="cardNumber" placeholder="Enter 16-digit Card Number" maxlength="16" pattern="\d{16}" required>

                                        <label for="expiryDate" style="color:#001f73;">Expiry Date (MM/YY)</label>
                                        <input type="text" id="expiryDate" [(ngModel)]="expiryDate" placeholder="MM/YY" maxlength="5" pattern="(0[1-9]|1[0-2])\/([0-9]{2})" required>

                                        <label for="cvv" style="color:#001f73;">CVV</label>
                                        <input type="password" id="cvv" [(ngModel)]="cvv" placeholder="Enter 3-digit CVV" maxlength="3" pattern="\d{3}" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" (click)="closePaymentModal()">Close</button>
                            <button type="button" class="btn btn-primary" (click)="payBill()" style="background-color: blue;">Pay Amount</button>
                        </div>
                    </div>
                </div>
            </div>         
        </div>

        <div class="manage-payments-container" *ngIf="activeTab === 'payments'">
            <div class="top-controls">
              <input type="text" [(ngModel)]="searchQuery" placeholder="Search Payments..." class="search-bar" />
            </div><br>
          
            <table class="user-table">
              <thead>
                <tr>
                  <th>Payment ID</th>
                  <th>Amount (₹)</th>
                  <th>Invoice ID</th>
                  <th>Payment Date</th>
                  <th>Payment Method</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let payment of getFilteredPayments()">
                  <td>{{ payment.id }}</td>
                  <td style="color:#001f73;"><b>{{ payment.amount | currency:'INR' }}</b></td>
                  <td>{{ payment.invoice?.id || 'N/A' }}</td>
                  <td>{{ payment.paymentDate | date: 'dd/MM/yyyy' }}</td>
                  <td>{{ payment.paymentMethod }}</td>  
                </tr>
              </tbody>
            </table><br>
          
            <div class="pagination-controls">
              <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 0">Previous</button>
              <span>Page {{ currentPage + 1 }} of {{ totalPages }}</span>
              <button (click)="changePage(currentPage + 1)" [disabled]="currentPage >= totalPages - 1">Next</button>
            </div>
        </div>

        <div class="wallet-container" *ngIf="activeTab === 'wallet'">
            <div class="wallet-content " >
                <!-- Wallet Balance Card -->
                <div class="wallet-card">
                <h2>Wallet Balance</h2>
                <p class="balance">₹{{ walletBalance }}</p>
                </div>
                

                <!-- Recent Transactions -->
                <div class="transactions">
                    <h3>Recent Transactions</h3>
                    <div *ngIf="transactions.length > 0; else noTransactions">
                        <div *ngFor="let transaction of transactions" class="transaction-card">
                          <div>
                            <small class="transaction-date">{{ transaction.date }}</small> <!-- Display Payment Date -->
                          </div>
                          <span [class.credit]="transaction.amount > 0" [class.debit]="transaction.amount < 0">
                            ₹{{ transaction.amount }}
                          </span>
                        </div>
                    </div>
                    <ng-template #noTransactions>
                        <p class="no-transactions">No wallet transactions</p>
                    </ng-template>
                </div>                  
            </div>
        </div>

        <div *ngIf="activeTab === 'help'">
            <div class="help-container">
                <h2>We're Here to Help!</h2>
                <form [formGroup]="helpForm" (ngSubmit)="submitHelpRequest()" class="help-form">
                    <!-- User Email -->
                    <div class="form-group">
                        <label for="email">Your Email:</label>
                        <input type="email" id="email" class="form-control" formControlName="userEmail" readonly />
                    </div>
            
                    <!-- Query Type Selection -->
                    <div class="form-group">
                        <label for="query">Select Your Query:</label>
                        <select id="query" class="form-control" formControlName="queryType" (change)="onQueryChange()">
                            <option value="" disabled selected>Select a query</option>
                            <option value="Change Name">Change Name</option>
                            <option value="Mistake in units consumption">Mistake in Units Consumption</option>
                            <option value="Change Phone Number">Change Phone Number</option>
                            <option value="Change Email ID">Change Email ID</option>
                        </select>
                    </div>
            
                    <!-- If "Change Name" is selected -->
                    <div class="form-group" *ngIf="helpForm.get('queryType')?.value === 'Change Name'">
                        <label for="oldName">Old Name:</label>
                        <input type="text" id="oldName" class="form-control" formControlName="oldName" />
            
                        <label for="newName">New Name:</label>
                        <input type="text" id="newName" class="form-control" formControlName="newName" />
                    </div>
            
                    <!-- If "Change Phone Number" is selected -->
                    <div class="form-group" *ngIf="helpForm.get('queryType')?.value === 'Change Phone Number'">
                        <label for="oldPhone">Old Phone Number:</label>
                        <input type="text" id="oldPhone" class="form-control" formControlName="oldPhone" />
            
                        <label for="newPhone">New Phone Number:</label>
                        <input type="text" id="newPhone" class="form-control" formControlName="newPhone" />
                    </div>
            
                    <!-- If "Change Email ID" is selected -->
                    <div class="form-group" *ngIf="helpForm.get('queryType')?.value === 'Change Email ID'">
                        <label for="oldEmail">Old Email:</label>
                        <input type="text" id="oldEmail" class="form-control" formControlName="oldEmail" />
            
                        <label for="newEmail">New Email:</label>
                        <input type="text" id="newEmail" class="form-control" formControlName="newEmail" />
                    </div>
            
                    <button type="submit" class="help-btn">Submit Request</button>
                </form>
            </div>
            <div class="help-table-container" *ngIf="helpRequests.length > 0">
                <h2 style="color: #001f73;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">History</h2>
                <table class="help-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Email</th>
                            <th>Query Type</th>
                            <th>Old Value</th>
                            <th>New Value</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let request of helpRequests">
                            <td>{{ request.id }}</td>
                            <td>{{ request.userMail }}</td>
                            <td>{{ request.query }}</td>
                            <td>{{ request.oldValue || 'N/A' }}</td>
                            <td>{{ request.newValue || 'N/A' }}</td>
                            <td [ngClass]="getStatusClass(request.status)">{{ request.status }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>     
    </main>    
  </div>
  